<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uco.dtavarespereira.wanderlust" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.InitialActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FavoritesActivity"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activity.SearchResultsActivity" />
        </activity>
        <activity
            android:name=".activity.CityDetailActivity"
            android:label="@string/title_activity_city_detail"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.PlacesToVisit"
            android:label="@string/title_activity_places_to_visit" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.CityDetailActivity" />
        </activity>
        <activity
            android:name=".activity.CommercialPlacesActivity"
            android:label="@string/title_activity_commercial_places" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.CityDetailActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activity.MapsActivity"
            android:label="@string/title_activity_maps" >
        </activity>
        <activity
            android:name=".activity.SearchResultsActivity"
            android:label="@string/title_activity_search_results" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activity.WeatherInformationActivity"
            android:label="@string/title_activity_weather_information"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.CityDetailActivity" />
        </activity>
        <activity
            android:name=".activity.FilteredPlacesToVisit"
            android:label="@string/title_activity_filtered_places_to_visit" >
        </activity>
        <activity
            android:name=".activity.PlaceInformationActivity"
            android:label="@string/title_activity_place_information" >
        </activity>
        <activity
            android:name=".activity.FavoritePlacesActivity"
            android:label="Favorite Places" >
        </activity>
        <activity
            android:name=".activity.WebBrowser"
            android:label="@string/title_activity_web_browser" >
        </activity>
    </application>

</manifest>
